/* Enter your custom styles here */
#Go_Button{
    border-bottom: none;
}

/* #persoTable th input[type="checkbox"] {
    display: none;
} */

/* .sapUiTableSelModeMultiToggle .sapUiTableRowSelectionHeaderCell.sapUiTableSelAllVisible .sapUiTableSelectAllCheckBox {
    display: block;
    display: none;
}

.sapUiTableSelModeMultiToggle.sapUiTableRowSelectors .sapUiTableRowSelectionCell::after {
    display: none;
    justify-content: center;
    align-items: center;
} */

/* .Kirua001{
    font-weight: bolder !important;
    background-color: red !important;
    font-size: xx-large !important;
} */

/* #__item0-titleText{
    font-weight: bolder;
    background-color: red;
}
 */
/* #_IDGenItem2{
    font-weight: bolder !important;
    background-color: red !important;
}

#__item16-titleText{
    font-weight: bolder;
}

#__item17-titleText{
    font-weight: bolder;
}

#__item18-titleText{
    font-weight: bolder;
}

#__item22-titleText{
    font-weight: bolder;
} */

